<template>
  <div>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <div class="flex items-center flex-no-shrink text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">
          <nuxt-link to="/">
            Jobsity Challenge
          </nuxt-link>
        </span>
      </div>
      <div class="block sm:hidden">
        <button
          @click="toggle"
          class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        :class="open ? 'block' : 'hidden'"
        class="w-full flex-grow sm:flex sm:items-center sm:w-auto"
      >
        <div class="text-sm sm:flex-grow">
          <nuxt-link
            :to="`/blog`"
            class="no-underline block mt-4 sm:inline-block sm:mt-0 text-gray-300 hover:text-gray-800 text-sm"
            >Blog</nuxt-link
          >
          <nuxt-link
            :to="`/users`"
            class="no-underline block mt-4 sm:inline-block sm:mt-0 text-gray-300 hover:text-gray-800 text-sm"
            >Users</nuxt-link
          >
        </div>
        <div>
          <template v-if="!authenticated">
            <div class="flex justify-between mr-5">
              <nuxt-link
                to="/login"
                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-5"
              >
                Login
              </nuxt-link>
              <nuxt-link
                to="/register"
                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"
              >
                Register
              </nuxt-link>
            </div>
          </template>
          <template v-else>
            <div class="flex justify-between mr-5 text-sm">
              <nuxt-link
                to="/blog/create"
                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
              >
                Create entry
              </nuxt-link>
              <a
                href=""
                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-5"
                >{{ user.name }}</a
              >
              <a
                @click.prevent="logout"
                href="#"
                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"
                >Logout</a
              >
            </div>
          </template>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'BNavbar',
  data() {
    return {
      open: false
    }
  },
  methods: {
    toggle() {
      this.open = !this.open
    },
    logout() {
      this.$auth.logout()
    }
  }
}
</script>

<style lang="scss" scoped></style>
