<template>
  <div>
    <section class="border-b py-8">
      <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <h1
          class="w-full  text-3xl font-bold leading-tight text-center text-gray-800"
        >
          Our latest posts
        </h1>
        <div class="w-full mb-4">
          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>

        <div
          v-for="post in posts"
          :key="post.id"
          class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink"
        >
          <div
            class="flex-1 bg-gray-100 shadow-2xl rounded-t rounded-b-none overflow-hidden "
          >
            <nuxt-link
              :to="`/blog/${post.id}`"
              class="flex flex-wrap no-underline hover:no-underline py-4"
            >
              <p class="w-full text-gray-600 text-xs md:text-sm px-6">
                Category: <span>{{ post.category.name }}</span>
              </p>
              <div class="w-full font-bold text-xl text-gray-800 px-6">
                {{ post.title }}
              </div>
              <p class="text-blue-600 text-base px-6 mb-5 font-normal">
                {{ post.body }}
              </p>
            </nuxt-link>
          </div>
          <div
            class="flex-none mt-auto bg-teal-500 rounded-b rounded-t-none overflow-hidden shadow p-2"
          >
            <div
              class="flex items-center justify-between text-base text-gray-200 px-2"
            >
              <nuxt-link :to="`/post`"
                ><fa :icon="['fas', 'user']" /> {{ post.user.name }}</nuxt-link
              >
              <p>{{ post.created_at }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'BEntry',
  props: {
    posts: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      links: []
    }
  }
}
</script>

<style lang="scss" scoped></style>
