<template>
  <div v-if="authenticated">
    <h1 class="text-center mt-6 text-gray-600 text-xl lg:text-2xl">
      Edit {{ $route.params.id }}
    </h1>
    <div class="container mx-auto flex justify-center mt-8">
      <div class="w-full max-w-xs lg:max-w-md">
        <form
          @submit.prevent="updatePost"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Post title
            </label>
            <input
              v-model.trim="post.title"
              :class="{ 'border-red-500': errors.title }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="title name"
            />
            <p v-if="errors.title" class="text-red-500 text-xs italic mt-2">
              {{ errors.name[0] }}
            </p>
          </div>

          <div class="my-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Body
            </label>
            <textarea
              v-model.trim="post.body"
              :class="{ 'border-red-500': errors.body }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              cols="30"
              rows="5"
              placeholder="Start tipping your awesome ideas..."
            ></textarea>
            <p v-if="errors.body" class="text-red-500 text-xs italic mt-2">
              {{ errors.body[0] }}
            </p>
          </div>
          <div class="my-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Category
            </label>
            <select
              v-model.trim="post.category_id"
              :class="{ 'border-red-500': errors.category_id }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            >
              <option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
                >{{ category.name }}</option
              >
            </select>
            <p
              v-if="errors.category_id"
              class="text-red-500 text-xs italic mt-2"
            >
              {{ errors.category_id[0] }}
            </p>
          </div>

          <div class="flex items-center justify-between">
            <button
              @click.prevent="updatePost"
              class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Edit post
            </button>
            <nuxt-link to="/blog" class="text-teal-500">Back to blog</nuxt-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['auth'],
  data() {
    return {
      categories: [],
      post: {
        title: '',
        body: '',
        category_id: ''
      }
    }
  },

  async asyncData({ $axios, params }) {
    const { data } = await $axios.$get(`/entries/${params.id}`)
    return { post: data }
  },
  created() {
    this.getCategories()
  },
  methods: {
    async getCategories() {
      const categories = await this.$axios.$get('/categories')
      this.categories = categories.data
    },
    async updatePost() {
      try {
        await this.$axios.$patch(`/entries/${this.$route.params.id}`, {
          title: this.post.title,
          body: this.post.body,
          category_id: this.post.category_id
        })
        // send user at homepage
        this.$router.push('/blog')
      } catch (e) {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
