<template>
  <div class="container mx-auto my-8">
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-gray-100 shadow-2xl rounded-t rounded-b-none overflow-hidden "
      >
        <div class="w-full font-bold text-xl text-gray-800 px-6 py-2">
          {{ category.name }}
        </div>
        <div v-if="authenticated" class="px-4 py-2">
          <div v-if="user.id === category.user.id">
            <nuxt-link
              :to="{ name: 'categories-edit', params: { id: category.id } }"
            >
              Edit
            </nuxt-link>
            <button @click="deleteCategory(category.id)">Del</button>
          </div>
        </div>
      </div>
      <div
        class="flex-none mt-auto bg-teal-500 rounded-b rounded-t-none overflow-hidden shadow p-2"
      >
        <div
          class="flex items-center justify-between text-base text-gray-200 px-2"
        >
          <nuxt-link :to="`/blog`"
            ><fa :icon="['fas', 'user']" /> {{ category.user.name }}</nuxt-link
          >
          <p>{{ category.created_at }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      category: {}
    }
  },
  async asyncData({ $axios, params }) {
    const { data } = await $axios.$get(`/categories/${params.id}`)

    return {
      category: data
    }
  },
  methods: {
    async deleteCategory(id) {
      await this.$axios.$delete(`/categories/${id}`)
      this.$router.push('/blog')
    }
  }
}
</script>

<style lang="scss" scoped></style>
