<template>
  <div v-if="authenticated">
    <h1 class="text-center mt-6 text-gray-600 text-xl lg:text-2xl">
      Create yor own category
    </h1>
    <div class="container mx-auto flex justify-center mt-8">
      <div class="w-full max-w-xs lg:max-w-md">
        <form
          @submit.prevent="createCategory"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Category name
            </label>
            <input
              v-model.trim="form.name"
              :class="{ 'border-red-500': errors.name }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="Category name"
            />
            <p v-if="errors.name" class="text-red-500 text-xs italic mt-2">
              {{ errors.name[0] }}
            </p>
          </div>
          <div class="flex items-center justify-between">
            <button
              @click.prevent="createCategory"
              class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Sign In
            </button>
          </div>
        </form>
        <p class="text-center text-gray-500 text-sm mt-6">
          Developed with <span class="text-red-500">&hearts;</span> by Bryan
          Suárez
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['auth'],
  data() {
    return {
      form: {
        name: ''
      }
    }
  },
  methods: {
    async createCategory() {
      try {
        await this.$axios.$post('categories', this.form)
        // send user at homepage
        this.$router.push('/categories/create')
      } catch (e) {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
