<template>
  <div>
    <h2 class="text-gray-600">Look out our last categories</h2>
    <div class="flex justify-start flex-wrap">
      <div
        v-for="category in categories"
        :key="category.id"
        class="max-w-sm rounded overflow-hidden shadow-lg mx-4"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 py-4">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
            >#travel</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
            >#winter</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: []
    }
  },
  async asyncData({ $axios }) {
    const { data } = await $axios.$get('/categories')
    return {
      categories: data
    }
  }
}
</script>

<style lang="scss" scoped></style>
