<template>
  <div>
    <div class="w-full">
      <BNavbar />
    </div>
    <nuxt />
    <div class="container mx-auto">
      <p class="text-center text-gray-500 text-sm pb-10">
        Developed with <span class="text-red-500">&hearts;</span> by Bryan
        Suárez
      </p>
    </div>
  </div>
</template>

<script>
import BNavbar from '@/components/shared/BNavbar'
export default {
  components: {
    BNavbar
  }
}
</script>
