<template>
  <div class="container mx-auto my-8">
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-gray-100 shadow-2xl rounded-t rounded-b-none overflow-hidden "
      >
        <div class="w-full font-bold text-xl text-gray-800 px-6 py-2">
          {{ post.title }}
        </div>
        <div v-if="authenticated" class="px-4 py-2">
          <div v-if="user.id === post.user.id">
            <nuxt-link :to="{ name: 'blog-edit', params: { id: post.id } }">
              Edit
            </nuxt-link>
            <button @click="deletePost(post.id)">Del</button>
          </div>
        </div>
      </div>
      <div
        class="flex-none mt-auto bg-teal-500 rounded-b rounded-t-none overflow-hidden shadow p-2"
      >
        <div
          class="flex items-center justify-between text-base text-gray-200 px-2"
        >
          <nuxt-link :to="`/blog`"
            ><fa :icon="['fas', 'user']" /> {{ post.user.name }}</nuxt-link
          >
          <p>{{ post.created_at }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      post: {}
    }
  },
  async asyncData({ $axios, params }) {
    const { data } = await $axios.$get(`/entries/${params.id}`)

    return {
      post: data
    }
  },
  methods: {
    async deletePost(id) {
      await this.$axios.$delete(`/entries/${id}`)
      this.$router.push('/blog')
    }
  }
}
</script>

<style lang="scss" scoped></style>
