<template>
  <div>
    <div class="container mx-auto lg:flex mt-8">
      <div class="w-full lg:w-10/12">
        <div>
          <BEntry :posts="posts" :links="links" />
          <nav class="my-4">
            <ul
              class="container mx-auto flex flex-wrap justify-between  w-8/12 lg:w-full"
            >
              <li
                v-for="(idx, val) in links"
                :key="val.id"
                class="text-center rounded-lg bg-blue-500 text-gray-100 border border-gray-300 p-2 lg:p-1 w-3/12 hover:bg-gray-100 hover:text-blue-500 hover:border-blue-500"
              >
                <a @click="paginate(idx)" href="#" class="text-sm">{{ val }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="w-full lg:w-2/12">
        <h2 class="text-xl">Categories</h2>

        <ul>
          <li v-for="category in categories" :key="category.id" class="text-sm">
            <nuxt-link
              :to="`/categories/${category.id}`"
              class="text-blue-400 font-medium hover:text-blue-700"
            >
              {{ category.name }}
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import BEntry from '@/components/entries/BEntries'
export default {
  components: {
    BEntry
  },
  data() {
    return {
      categories: [],
      posts: [],
      links: []
    }
  },
  async asyncData({ $axios }) {
    const { data } = await $axios.$get(`/entries`)
    return {
      posts: data
    }
  },
  created() {
    this.getData()
    this.paginate()
  },
  methods: {
    async getData() {
      const categories = await this.$axios.$get('/categories')
      this.categories = categories.data
    },
    async paginate(idx) {
      const posts = await this.$axios.$get(idx)

      this.posts = posts.data
      this.links = posts.links
    }
  }
}
</script>

<style lang="scss" scoped></style>
