<template>
  <div>
    <div
      class="container mx-auto flex flex-wrap justify-between py-10 lg:py-20"
    >
      <div class="w-full lg:w-3/12 mx-4">
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
          <div
            class="border border-gray-300 rounded-lg bg-gray-100 w-full p-4 flex flex-col justify-between leading-normal shadow-2xl"
          >
            <div class="mb-8">
              <p class="text-sm text-gray-600 flex items-center">
                <svg
                  class="fill-current text-gray-500 w-3 h-3 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
                  />
                </svg>
                Members only
              </p>
              <div class="text-gray-900 font-bold text-xl mb-2">
                {{ user.name }}
              </div>
              <p class="text-gray-700 text-sm">
                <span class="font-semibold">Email:</span> {{ user.email }}
              </p>
              <p class="text-gray-700 text-sm">
                <span class="font-semibold">Member since:</span>
                {{ user.created_at }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full lg:w-8/12 mx-4 mt-4 lg:mt-0 bg-gray-100 px-2 py-4 border border-gray-300 rounded-lg shadow-2xl"
      >
        <div>
          <h3 class="text-center text-2xl text-gray-700">
            Your published posts
          </h3>
          <table class="table-fixed">
            <thead class="bg-teal-500 text-gray-200">
              <tr>
                <th class="w-1/2 px-4 py-2">Title</th>
                <th class="w-1/4 px-4 py-2">Created at</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border px-4 py-2">Intro to CSS</td>
                <td class="border px-4 py-2">Adam</td>
              </tr>
              <tr class="bg-gray-100">
                <td class="border px-4 py-2">
                  A Long and Winding Tour of the History of UI Frameworks and
                  Tools and the Impact on Design
                </td>
                <td class="border px-4 py-2">Adam</td>
              </tr>
              <tr>
                <td class="border px-4 py-2">Into to JavaScript</td>
                <td class="border px-4 py-2">Chris</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['auth']
}
</script>

<style lang="scss" scoped></style>
