<template>
  <div class="w-full">
    <div class="lg:flex flex-wrap justify-around items-center bg-teal-500 py-4">
      <div class="w-full lg:w-6/12">
        <h1 class="text-gray-300 text-2xl lg:text-4xl text-center">
          Welcome to my challenge
        </h1>
        <p class="hidden lg:block mt-10 px-20 py-2 text-gray-100">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nam,
          repellendus consectetur sequi placeat reprehenderit officiis ipsam?
          Eveniet perferendis vitae, voluptas tenetur similique sit aut nesciunt
          ut totam temporibus. Saepe.
        </p>
        <div class="flex justify-center my-4">
          <nuxt-link
            :to="`/blog`"
            class="text-center border bg-blue-400 px-6 py-2 rounded-lg text-gray-100 hover:bg-gray-100 hover:text-gray-700"
            >Read our latest entries</nuxt-link
          >
        </div>
      </div>
      <div class="w-full lg:w-6/12">
        <img
          src="https://www.tailwindtoolbox.com/templates/hero.png"
          alt="hero image"
        />
      </div>
    </div>
    <div class="container mx-auto text-center py-4 text-gray-700 text-3xl mt-2">
      <h2
        class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800"
      >
        Jobsity Challenge
      </h2>
      <div class="flex flex-wrap items-center mt-6">
        <div class="w-5/6 sm:w-1/2 p-6">
          <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
            Lorem ipsum dolor sit amet
          </h3>
          <p class="text-gray-600 mb-8 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
            ipsum eu nunc commodo posuere et sit amet ligula.
          </p>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img src="~/static/blogging.png" class="h-64 rounded-lg" alt="" />
        </div>
      </div>
      <!--Section last 3-->
      <section class="border-b py-8">
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
          <h1
            class="w-full my-2 text-3xl font-bold leading-tight text-center text-gray-800"
          >
            Our last 3 posts
          </h1>
          <div class="w-full mb-4">
            <div
              class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
            ></div>
          </div>

          <div
            v-for="item in 3"
            :key="item.id"
            class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink"
          >
            <div
              class="flex-1 bg-gray-100 shadow-2xl rounded-t rounded-b-none overflow-hidden "
            >
              <nuxt-link
                :to="`1`"
                class="flex flex-wrap no-underline hover:no-underline py-4"
              >
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">
                  Category: <span>xxx</span>
                </p>
                <div class="w-full font-bold text-xl text-gray-800 px-6">
                  Lorem ipsum dolor sit amet.
                </div>
                <p class="text-gray-800 text-base px-6 mb-5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </nuxt-link>
            </div>
            <div
              class="flex-none mt-auto bg-teal-500 rounded-b rounded-t-none overflow-hidden shadow p-2"
            >
              <div
                class="flex items-center justify-between text-base text-gray-200 px-2"
              >
                <nuxt-link :to="`/post`"
                  ><fa :icon="['fas', 'user']" /> Autor</nuxt-link
                >
                <p>2019/25/10</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- last 3 -->
    </div>
  </div>
</template>

<script>
export default {}
</script>
