<template>
  <div>
    <h1 class="text-center mt-6 text-gray-600 text-xl lg:text-2xl">
      Create your account and start posting awesome content.
    </h1>
    <div class="container mx-auto flex justify-center mt-8">
      <div class="w-full max-w-xs lg:max-w-md">
        <form
          @submit.prevent="registerUser"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="username"
            >
              Email
            </label>
            <input
              v-model.trim="form.email"
              :class="{ 'border-red-500': errors.email }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="email"
              placeholder="john.doe@mail.com"
              required
            />
            <p v-if="errors.email" class="text-red-500 text-xs italic mt-2">
              {{ errors.email[0] }}
            </p>
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="username"
            >
              Username
            </label>
            <input
              v-model.trim="form.name"
              :class="{ 'border-red-500': errors.name }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="John Doe"
              required
            />
            <p v-if="errors.name" class="text-red-500 text-xs italic mt-2">
              {{ errors.name[0] }}
            </p>
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password"
            >
              Password
            </label>
            <input
              v-model.trim="form.password"
              :class="{ 'border-red-500': errors.password }"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              type="password"
              placeholder="****************"
              required
            />
            <p v-if="errors.password" class="text-red-500 text-xs italic mt-2">
              {{ errors.password[0] }}
            </p>
          </div>
          <div class="flex items-center justify-between">
            <button
              @click.prevent="registerUser"
              class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
            >
              Register
            </button>
            <nuxt-link
              :to="`/login`"
              class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
            >
              Login
            </nuxt-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['guest'],
  data() {
    return {
      form: {
        email: '',
        name: '',
        password: ''
      }
    }
  },
  methods: {
    async registerUser() {
      try {
        await this.$axios.$post('register', this.form)
        await this.$auth.loginWith('local', {
          data: {
            email: this.form.email,
            password: this.form.password
          }
        })
        this.$router.push('/dashboard')
      } catch (e) {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
